*{
    margin:0%; 
    padding: 0%;
}
html, body{
   height: 100%;
   width: 100%;
}
body{
    background-image: url(./pexels-magda-ehlers-2114014.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
.container{
    height:fit-content;
   
    
}